
.content-wrapper, .right-side{
    background-color: #f8f8f8
}
.sidebar-menu li>a>.pull-right{
    margin-top: -10px !important;
}
.sidebar-menu li a{
    text-align: left;
}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill{
    border-color: #002A3A;
}
.c100.mid {
    font-size: 100px;
}
.c100:hover > span{
    color: #002A3A;
}
.c100:after{
    background-color: #fff;
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}
.c100 > span {
    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #002A3A;
}

@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer,.sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 75px !important;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 75px !important;
    }
    .sidebar-mini.sidebar-collapse .svg-icon{
        margin-right: 0 !important;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu li a{
        text-align: center;
    }
    .sidebar-mini.sidebar-collapse .status p{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .sidebar-mini.sidebar-collapse .status p .fa{
        font-size: 7px;
        margin-left: 0px;
    }
    .sidebar-mini.sidebar-collapse .status .domain-link{
        display: none;
    }
    .sidebar-mini.sidebar-collapse .status .domain-icon-link{
        display: block;
    }

    .sidebar-mini.sidebar-collapse .c100.mid{
        font-size: 50px;
        float: none;
    }
    .sidebar-mini.sidebar-collapse .user-panel h4{
        margin-bottom: 10px;
    }
    .sidebar-mini.sidebar-collapse .user-panel .chart-desc{
        margin-top: 0;
    }
    .sidebar-mini.sidebar-collapse .user-panel p{
        font-size: 9px;
    }
    .sidebar-mini.sidebar-collapse  .c100:after{
        top: 0.08em;
        left: 0.08em;
        width: 0.84em;
        height: 0.84em;
    }
    .sidebar-mini.sidebar-collapse .c100 > span {
        width: 5em;
        line-height: 5em;
        font-size: 0.2em;
    }
}